/*cuando los selectores tienen la misma categoría , predomina el último*/

/*Por orden de jerarquia las prioridades de los selectores 
son los siguientes de menos a mas fuerte
1-Etiquetas
2-Clases
3-Identificadores o id 
4-Estilos en linea 
5- los famosos !importants
*/


h1{
    color:green;
}
.titulo{
    color:red;
}
#frase{
     color:blue !important;
}
