.image{
  background-image: url('./woman-918614_1280.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  width:100%;
  height: 500px;
  filter:blur(0px);
  filter:brightness(90%);
  filter:contrast(120%);
  filter:drop-shadow(9px 9px 9px black);
  filter:grayscale(0%);
  filter:hue-rotate(0deg);
  filter:invert(0);
  /* filter:none; */
  filter:opacity(1);
  filter:saturate(1.3);
  filter:sepia(0);
  /* filter:url() */
  
}